body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #000000;

}

header{
    background-color: #4d0000;
    color: #fff;
    padding: 40px;    
}

.top ul{
    list-style: none;
    margin-top: -45px;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

.top{
    width:894px;
    margin: 0 auto;
    position: absolute;
    right: 110px;
    top: 80px;
}

.top ul li{
    background: #000000;
    width: 120px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    float: left;
    font-size: 18px;
    font-family:fantasy;
    border-radius: 30px
}

.top ul li:hover{
   background: #4d0000 
}

.top ul ul{
    display: none;
    margin-left: -41px;
    margin-top: 1px;
}

.top ul li:hover > ul{
    display: block;
}
.container{
    width:50%;
    margin: auto;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    background-color: #4d0000;
    color: #fff;
    border-style: solid 
}

h2{
    text-decoration: underline;
    font-family:serif;
    font-size: 35px;

}

img{
    height: 300px;
    width: 300px
}

footer{
    color: #fff;
    background-color:#4d0000;
    text-align:center;
    height:100px;
    line-height: 100px
    
}